<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="footer">

        <footer>
            <!-- this is footer -->
            &copy; 2018-19 CMS
            <!--<span th:text="${#authorization.expression('isAuthenticated()')} ?
               'the user is logged in' :
               'the user is NOT logged in'">
            </span>-->

            <script rel="script" type="text/javascript" th:href="@{/js/jquery.min.js}"
                    src="../../js/jquery.min.js"></script>
            <script rel="script" type="text/javascript" th:href="@{/js/bootstrap.min.js}"
                    src="../../js/bootstrap.min.js"></script>
        </footer>
    </div>

</div>
</body>
</html>