<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Course List</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h1> Branch </h1>

    <p>
        <a href="/admin/branchEdit" th:href="@{/admin/branchEdit}">Create</a>
    </p>

    <table  class="table table-striped">
        <thead>
        <tr>
            <th> Branch Id</th>
            <th> Branch Code</th>
            <th> Branch Name</th>
            <th> College </th>
            <th> Course </th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="branch : ${branchList}">
            <td th:text="${branch.branchId}">1</td>
            <td th:text="${branch.branchCode}">1</td>
            <td th:text="${branch.branchName}">Test</td>
            <td th:text="${branch.CollegeId} + '-' + ${branch.CollegeName}"> College </td>
            <td th:text="${branch.courseId} + '-' +  ${branch.courseName}"> Branch </td>
            <td>
                <a href="/admin/branchEdit/1" th:href="@{/admin/branchEdit/__${branch.branchId}__}">Edit</a>
                <!--<a href="/subjectTypeDelete/1" th:href="@{/subjectTypeDelete/__${subjectType.subjectTypeId}__}">Delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>