<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Collage</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <form action="/admin/collageEdit" th:action="@{/admin/collageEdit}" method="post">

    <table width="100%">
        <tr>
            <td align="right">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
            </td>
        </tr>
    </table>

        <table border="0" width="80%">
            <tr>
                <td><input th:type="hidden" name="collageId" th:field="${collage.collageId}"/>
                    <div class="form-group">
                        <label for="collageName">Collage Name</label>
                        <input type="text" class="form-control" id="collageName" th:field="${collage.collageName}"
                               placeholder="Collage Name"/>
                    </div>
                </td>
                <td> &nbsp;</td>
                <td>
                    <div class="form-group">
                        <label for="collageCode">Collage Code</label>
                        <input type="text" class="form-control" id="collageCode" th:field="${collage.collageCode}"
                               placeholder="Collage Code"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="form-group">
                        <label for="collageAddress"> Address </label>
                        <input type="text" class="form-control" id="collageAddress" th:field="${collage.collageAddress}"
                               placeholder=" Address "/>
                    </div>
                </td>
            </tr>
        </table>

        <div class="form-group">
            <label class="col-lg-2 control-label">Existing Courses</label>
            <div class="col-lg-10">
                <div th:each="course : ${courses}">
                    <span th:text="${course.courseId}" /> - <span th:text="${course.courseName}" />
                </div>
            </div>
        </div>

    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>