<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Course List</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h1> Courses </h1>

    <p>
        <a href="/courseEdit" th:href="@{/courseEdit}">Create</a>
    </p>

    <table class="table" border="10">
        <thead>
        <tr>
            <th>Course Id</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Duration</th>
            <th>Semister</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courseList}">
            <td th:text="${course.courseId}">1</td>
            <td th:text="${course.courseCode}">Test</td>
            <td th:text="${course.courseName}">Test</td>
            <td th:text="${course.courseDuration}">Test</td>
            <td th:text="${course.semister}">Test</td>
            <td>
                <a href="/courseEdit/1" th:href="@{/courseEdit/__${course.courseId}__}">Edit</a>
                <!--<a href="/subjectTypeDelete/1" th:href="@{/subjectTypeDelete/__${subjectType.subjectTypeId}__}">Delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>