<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Course List</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container" th:if="${#request.isUserInRole('PRINCIPAL')}">
        <h1> Courses: </h1>

    <p>
        <!--        <a href="javascript:void(0);" onclick="goBack()">Go Back</a>-->
        <a th:if="${#request.isUserInRole('DEPT_HEAD')}" href="/hod/courseEdit/${batchYearSemTermView.batchYearSemTermId}}" th:href="@{/hod/courseEdit/__${batchYearSemTermView.batchYearSemTermId}__}">Add more</a>
    </p>

    <table  class="table table-bordered">
        <thead>

        <tr>
            <th colspan="11" th:text="'New Horizon College of Engineering'" style=" font-size: 35px;"
                class="text-center">College
            </th>
        </tr>

        <!--        <tr>-->
        <!--            <th colspan="11"  style="font-size: 30px;"  class="text-center"></th>-->
        <!--        </tr>-->
        <!--        <tr>-->
        <!--            <th colspan="11" style="font-size: 25px;"  class="text-center"></th>-->
        <!--        </tr>-->
        <tr>
            <th colspan="5" th:text="'Batch: ' + ${batchYearSemTermView.batch.batchName}" style="font-size: 20px;"  class="text-center">Batch</th>
            <th colspan="7" th:text="'Academic Year: ' + ${batchYearSemTermView.academicYear.year}" style="font-size: 20px;"  class="text-center">Academic Year</th>
        </tr>
        <tr>
            <th colspan="5" th:text="'Semester: ' + ${batchYearSemTermView.semester.sem}" style="font-size: 20px;" class="text-center">Semester</th>
            <th colspan="7" th:text="'Term: ' + ${batchYearSemTermView.term.termDate}" style="font-size: 20px;" class="text-center">Term</th>
        </tr>


        </thead>
        <tbody>
        <tr style="text-align:center">
            <th rowspan="2" class="text-center">Sl no.</th>
            <th rowspan="2" class="text-center">Added By Dept.</th>
            <th rowspan="2" class="text-center">Course Type</th>
            <th rowspan="2" class="text-center">Course Code</th>
            <th rowspan="2" class="text-center">Course Name</th>
            <th rowspan="2" class="text-center">Teaching Department</th>
            <th colspan="4" class="text-center">Credits</th>
            <th rowspan="2" class="text-center">Contact Hours/ week</th>
            <th rowspan="2" class="text-center">Actions</th>
        </tr>
        <tr style="text-align:center">
            <th>L</th>
            <th>T</th>
            <th>P</th>
            <th>Total</th>
        </tr>

        <tr th:each="courseList, rowStat : ${coursesList}">
            <td th:text="${rowStat.count}" class="text-center">1</td>
            <td th:text="${courseList.department.departmentCode}" class="text-center">1</td>
            <td th:text="${courseList.courseType.typeOfCourse}" class="text-center">1</td>
            <td th:text="${courseList.courseCode}" class="text-center">Test</td>
            <td th:text="${courseList.courseName}" class="text-center">Test</td>
            <td th:text="${courseList.teachingDepartment.teachingDepartmentCode}" class="text-center">Test</td>
            <td th:text="${courseList.lectureCredits}" class="text-center">Test</td>
            <td th:text="${courseList.tutorialCredits}" class="text-center">Test</td>
            <td th:text="${courseList.practicalCredits}" class="text-center">Test</td>
            <td th:text="${courseList.totalCredits}" class="text-center">Test</td>
            <td th:text="${courseList.contactHours}" class="text-center">Test</td>

            <td>
                <a th:if="${#request.isUserInRole('PRINCIPAL')}" href="/admin/deleteCourse/1" th:href="@{/admin/deleteCourse/__${courseList.courseId}__}">Delete</a>
                <a th:if="${#request.isUserInRole('DEPT_HEAD')}" href="/hod/deleteCourse/1" th:href="@{/hod/deleteCourse/__${courseList.courseId}__}">Delete</a>
            </td>
        </tr>
        <!--        <tr>-->
        <!--            <th class="text-center">Total</th>-->
        <!--            <td></td>-->
        <!--            <td></td>-->
        <!--            <td></td>-->
        <!--            <td></td>-->

        <!--            <th th:text="${totalLectureCredits}" class="text-center">0</th>-->
        <!--            <th th:text="${totalTutorialCredits}" class="text-center">0</th>-->
        <!--            <th th:text="${totalPracticalCredits}" class="text-center">0</th>-->
        <!--            <th th:text="${totalTotalCredits}" class="text-center">0</th>-->
        <!--            <th th:text="${totalContactHours}" class="text-center">0</th>-->
        <!--        </tr>-->
        </tbody>
    </table>

    <div align="center">
        <a href="/admin/selectCourse/" th:href="@{/admin/selectCourse/}" class="btn btn-primary view">Select again</a>
    </div>

<!--    &lt;!&ndash;    Print  &ndash;&gt;-->
<!--    <div align="center">-->
<!--        <button id="printButton1">Print</button>-->
<!--        <script>-->
<!--            document.getElementById("printButton").addEventListener("click", function() {-->
<!--            window.print();-->
<!--            });-->
<!--        </script>-->
<!--    </div>-->


</div>









<div class="container" th:if="${#request.isUserInRole('DEPT_HEAD')}">

    <h1> Courses:</h1>
    <p>
        <!--        <a href="javascript:void(0);" onclick="goBack()">Go Back</a>-->
        <a th:if="${#request.isUserInRole('DEPT_HEAD')}" href="/hod/courses/addnew/${batchYearSemTermView.batchYearSemTermId}/${program.programId}}" th:href="@{/hod/courses/addnew/__${batchYearSemTermView.batchYearSemTermId}__/__${program.programId}__}">Add more</a>
        <!--        <a th:if="${#request.isUserInRole('DEPT_HEAD')}" href="/hod/openElectiveEdit/${batchYearSemTermView.batchYearSemTermId}}" th:href="@{/hod/openElectiveEdit/__${batchYearSemTermView.batchYearSemTermId}__}">Add more</a>-->

    </p>

    <table  class="table table-bordered">
        <thead>

        <tr>
            <th colspan="11" th:text="'New Horizon College of Engineering'" style=" font-size: 35px;"
                class="text-center">College
            </th>
        </tr>

        <!--        <tr>-->
        <!--            <th colspan="11" style="font-size: 30px;"  class="text-center"></th>-->
        <!--        </tr>-->
        <tr>
            <th colspan="11" th:text="'Program: ' + ${program.programName}" style="font-size: 25px;"  class="text-center"></th>
        </tr>
        <tr>
            <th colspan="5" th:text="'Batch: ' + ${batchYearSemTermView.batch.batchName}" style="font-size: 20px;"  class="text-center">Batch</th>
            <th colspan="7" th:text="'Academic Year: ' + ${batchYearSemTermView.academicYear.year}" style="font-size: 20px;"  class="text-center">Academic Year</th>
        </tr>
        <tr>
            <th colspan="5" th:text="'Semester: ' + ${batchYearSemTermView.semester.sem}" style="font-size: 20px;" class="text-center">Semester</th>
            <th colspan="7" th:text="'Term: ' + ${batchYearSemTermView.term.termDate}" style="font-size: 20px;" class="text-center">Term</th>
        </tr>

        </thead>
        <tbody>
        <tr style="text-align:center">
            <th rowspan="2" class="text-center">Sl no.</th>
            <th rowspan="2" class="text-center">Added By Dept.</th>
            <th rowspan="2" class="text-center">Course Type</th>
            <th rowspan="2" class="text-center">Course Code</th>
            <th rowspan="2" class="text-center">Course Name</th>
            <th rowspan="2" class="text-center">Teaching Department</th>
            <th colspan="4" class="text-center">Credits</th>
            <th rowspan="2" class="text-center">Contact Hours/ week</th>
            <!--            <th rowspan="2" class="text-center">Actions</th>-->
        </tr>
        <tr style="text-align:center">
            <th>L</th>
            <th>T</th>
            <th>P</th>
            <th>Total</th>
        </tr>

        <tr th:each="courseList, rowStat : ${coursesList}">
            <td th:text="${rowStat.count}" class="text-center">1</td>
            <td th:text="${courseList.department.departmentCode}" class="text-center">1</td>
            <td th:text="${courseList.courseType.typeOfCourse}" class="text-center">1</td>
            <td th:text="${courseList.courseCode}" class="text-center">Test</td>
            <td th:text="${courseList.courseName}" class="text-center">Test</td>
            <td th:text="${courseList.teachingDepartment.teachingDepartmentCode}" class="text-center">Test</td>
            <td th:text="${courseList.lectureCredits}" class="text-center">Test</td>
            <td th:text="${courseList.tutorialCredits}" class="text-center">Test</td>
            <td th:text="${courseList.practicalCredits}" class="text-center">Test</td>
            <td th:text="${courseList.totalCredits}" class="text-center">Test</td>
            <td th:text="${courseList.contactHours}" class="text-center">Test</td>

            <!--            delete option disabled for HOD-->
            <!--            <td>&nbsp;&nbsp;-->
            <!--                <a th:if="${#request.isUserInRole('PRINCIPAL')}" href="/admin/deleteOpenElective/1" th:href="@{/admin/deleteOpenElective/__${allDeptOpenElective.openElectiveId}__}">Delete</a>-->
            <!--                <a th:if="${#request.isUserInRole('DEPT_HEAD')}" href="/hod/deleteOpenElective/1" th:href="@{/hod/deleteOpenElective/__${allDeptOpenElective.openElectiveId}__}">Delete</a>-->
            <!--            </td>-->
        </tr>

        <!--        //Total code - for future-->
        <!--        <tr>-->
        <!--            <th class="text-center">Total</th>-->
        <!--            <td></td>-->
        <!--            <td></td>-->
        <!--            <td></td>-->
        <!--            <td></td>-->

        <!--            <th th:text="${totalLectureCredits}" class="text-center">0</th>-->
        <!--            <th th:text="${totalTutorialCredits}" class="text-center">0</th>-->
        <!--            <th th:text="${totalPracticalCredits}" class="text-center">0</th>-->
        <!--            <th th:text="${totalTotalCredits}" class="text-center">0</th>-->
        <!--            <th th:text="${totalContactHours}" class="text-center">0</th>-->
        <!--        </tr>-->
        </tbody>
    </table>

    <div align="center">
        <a href="/hod/selectCourse/" th:href="@{/hod/selectCourse/}" class="btn btn-primary view">Select again</a>
    </div>

<!--    &lt;!&ndash;    Print  &ndash;&gt;-->
<!--    <div align="center">-->
<!--        <button id="printButton2">Print</button>-->
<!--        <script>-->
<!--            document.getElementById("printButton").addEventListener("click", function() {-->
<!--            window.print();-->
<!--            });-->
<!--        </script>-->
<!--    </div>-->


</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>