<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Department List</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h1> Departments </h1>

    <p>
        <a href="/admin/departments/addnew" th:href="@{/admin/departments/addnew}">Add Department</a>
    </p>

    <table  class="table table-striped">
        <thead>
        <tr>
            <th> Sl no.</th>
            <th> Department Code</th>
            <th> Department Name</th>
            <th> College </th>
<!--            <th> Program </th>-->
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department, rowStat : ${departmentList}">
            <td th:text="${rowStat.count}">1</td>
            <td th:text="${department.departmentCode}">1</td>
            <td th:text="${department.departmentName}">Test</td>
            <td th:text="${department.college.collegeId} + '-' + ${department.college.collegeName}"> College </td>
<!--            <td th:text="${department.programName}">Test</td>-->

            <td>

<!--                <a href="/admin/departmentEdit/1" th:href="@{/admin/departmentEdit/__${department.departmentId}__}">Edit</a>-->
                <a href="/admin/departmentDelete/1" th:href="@{/admin/departmentDelete/__${department.departmentId}__}">Delete</a>

                <!--<a href="/subjectTypeDelete/1" th:href="@{/subjectTypeDelete/__${subjectType.subjectTypeId}__}">Delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>