<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Faculty</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <form action="/hod/editFaculty" th:action="@{/hod/editFaculty}" method="post">

        <table width="100%">
            <tr>

                <td align="left">
                    <a href="/hod/listFaculty" th:href="@{/hod/listFaculty}" class="btn btn-primary" role="button">View Faculties</a>
                </td>

                <td align="right">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="#" th:href="@{/home}" class="btn btn-danger" role="button">Cancel</a>
                </td>

            </tr>
        </table>

        <table border="0" width="80%">
            <tr>
                <td><input th:type="hidden" name="facultyId" th:field="${faculty.id}"/>
<!--                    <input th:type="hidden" name="department" th:value="${department.departmentId}" />-->

                    <div class="form-group">
                        <label for="facultyname">Faculty Name</label>
                        <input type="text" class="form-control" id="facultyname" th:field="${faculty.name}"
                               placeholder="Faculty Name"/>
                    </div>
                </td>
                <td> &nbsp;</td>
                <td>
                    <div class="form-group">
                        <label for="shortName">Short Name </label>
                        <input type="text" class="form-control" id="shortName" th:field="${faculty.shortName}"
                               placeholder="Short Name"/>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="form-group">
                        <label for="facultyIdNumber">Faculty ID:</label>
                        <input type="text" class="form-control" id="facultyIdNumber" th:field="${faculty.facultyIdNumber}"
                               placeholder="facultyIdNumber"/>
                    </div>
                </td>
                <td> &nbsp;</td>
                <td>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <input type="radio" th:field="*{faculty.gender}" name="gender" value="M" id="gender"/><label
                            th:text="Male">M</label>
                        <input type="radio" th:field="*{faculty.gender}" name="gender" value="F"/><label
                            th:text="Female">F</label>
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                    <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input type="date" class="form-control" id="dob" th:field="${faculty.dob}"
                               placeholder="DOB" dataformatas=""/>
                    </div>
                </td>
                <td> &nbsp;</td>
                <td>
                    <div class="form-group">
                        <label for="gender">faculty type </label>
                        <input type="radio" th:field="*{faculty.facultyType}" name="facultyType" value="Regular" id="facultyType"/><label
                            th:text="Regular">M</label>
                        <input type="radio" th:field="*{faculty.facultyType}" name="facultyType" value="Temporary"/><label
                            th:text="Temporary">F</label>
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                    <div class="form-group">
                        <label for="designation">Designation</label>
                        <input type="text" class="form-control" id="designation" th:field="${faculty.designation}"
                               placeholder="Designation"/>
                    </div>
                </td>
                <td> &nbsp;</td>
                <td>
                    <div class="form-group">
                        <label for="highestQualification">Highest Qualification</label>
                        <input type="text" class="form-control" id="highestQualification" th:field="${faculty.highestQualification}"
                               placeholder="Highest Qualification"/>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="form-group">
                        <label for="specialization">Specialization</label>
                        <input type="text" class="form-control" id="specialization" th:field="${faculty.specialization}"
                               placeholder="specialization"/>
                    </div>
                </td>
                <td> &nbsp;</td>
                <td>
                    <div class="form-group">
                        <label for="teachingExperience">Teaching experience</label>
                        <input type="text" class="form-control" id="teachingExperience" th:field="${faculty.teachingExperience}"
                               placeholder="Teaching experience"/>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="form-group">
                        <label for="phoneNumber">Phone number</label>
                        <input type="text" class="form-control" id="phoneNumber" th:field="${faculty.phoneNumber}"
                               placeholder="phoneNumber"/>
                    </div>
                </td>
                <td> &nbsp;</td>
                <td>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control" th:field="*{faculty.category}">
                            <option th:each="cat : ${categories}" th:value="${cat.key}" th:text="${cat.value}"
                                    id="category"> Select Category </option>
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="form-group">
                        <label for="doj">Date of Joining</label>
                        <input type="date" class="form-control" id="doj" th:field="${faculty.dateOfJoining}"
                               placeholder="date of joining" dataformatas=""/>
                    </div>
                </td>
                <td> &nbsp;</td>
                <td>
                    <div class="form-group">
                        <label for="dol">Date of Leaving</label>
                        <input type="date" class="form-control" id="dol" th:field="${faculty.dateOfLeaving}"
                               placeholder="Date of Leaving" dataformatas=""/>
                    </div>
                </td>
            </tr>



        </table>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>