<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>


    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"
    ></script>
    <style>
        table.payments-table tbody tr.dirty {
          background-color: #72e4a1;
        }

        table.payments-table tbody tr.deleted {
          background-color: #df5151;
        }

        .refresh {
      background-color: #6c757d; /* Light black color */
      color: #fff; /* Text color */
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
    <div>

        <table width="100%">
            <tr>
                <th th:text="'Academic Year: ' + ${academicYear.year}" style="font-size: 15px;">Academic Year</th>
                <th th:text="'Programme: ' + ${program.programName}" style="font-size: 15px;">
                <th th:text="'Department: ' + ${department.departmentName}" style="font-size: 15px;">Department</th>
            </tr>
            <tr>
                <!--                <th th:text="'Batch: ' + ${batchYearSemTerm.batch.batchName}" style="font-size: 15px;">Batch</th>-->
                <th th:text="'Semester: ' + ${semester.sem}" style="font-size: 15px;">Semester</th>
                <th th:text="'Section: ' + ${section.sec}" style="font-size: 15px;">Section</th>
                <th th:text="'Term: ' + ${term.termDate}" style="font-size: 15px;">Term</th>
            </tr>
            <tr><td></td></tr>
        </table>
        <hr>

        <!--        <input type="hidden" id="batchYearSemTermId" th:value="${batchYearSemTerm.batchYearSemTermId}" />-->
        <!--        <input type="hidden" id="batchId" th:value="${batchYearSemTerm.batch.batchId}" />-->
        <input type="hidden" id="academicYearId" th:value="${academicYear.id}" />
        <input type="hidden" id="semId" th:value="${semester.semId}" />
        <input type="hidden" id="termId" th:value="${term.id}" />
        <input type="hidden" id="sectionId" th:value="${section.sectionId}">

        <input type="hidden" id="departmentId" th:value="${department.departmentId}" />
        <input type="hidden" id="programId" th:value="${program.programId}" />
        <input type="hidden" id="batchYearSemTermId" th:value="${batchYearSemTermId}" />


    </div>

    <h2> Time Table:</h2>

    <div>
    <table width="100%">
        <!-- Day headings -->
        <tr>
            <th colspan="5" class="text-left">Monday:</th>
        </tr>
    </table>
    <table class="table table-sm table-bordered payments-table">
        <thead>
        <tr>
            <th scope="col" class="text-center">Day</th>
            <th scope="col" class="text-center">start time</th>
            <th scope="col" class="text-center">end time</th>
            <th scope="col" class="text-center">select course</th>
            <th scope="col" class="text-center">select faculty</th>

        </tr>
        </thead>
        <tbody id="monday-table-body"></tbody>
    </table>

    <table width="100%">
        <tr>
            <td align="center">
<!--                <button type="button" class="btn btn-secondary refresh" onclick="goBack()">Previous</button>-->
                <button type="button" class="btn btn-success add-row-mon" data-day="Monday">Add new row</button>
                <button type="button" class="btn btn-success save" data-day="Monday">Save</button>
                <button type="button" id="refreshMonday" class="btn btn-secondary refresh" data-day="Monday">Refresh</button>

                <!--                <button type="button" class="btn btn-secondary refresh" data-day="Monday">Refresh</button>-->
                <a href="" th:href="@{/hod/listEligibleStudent/__${academicYear.id}__/__${program.programId}__/__${semester.semId}__/__${term.id}__}" class="btn btn-primary view">Detailed View</a>
<!--                <a href="/" class="btn btn-primary home">Home</a>-->
            </td>
        </tr>
    </table>
        </div>


    <div>
        <table width="100%">
            <!-- Day headings -->
            <tr>
                <th colspan="5" class="text-left">Tuesday:</th>
            </tr>
        </table>
        <table class="table table-sm table-bordered payments-table">
            <thead>
            <tr>
                <th scope="col" class="text-center">Day</th>
                <th scope="col" class="text-center">start time</th>
                <th scope="col" class="text-center">end time</th>
                <th scope="col" class="text-center">select course</th>
                <th scope="col" class="text-center">select faculty</th>

            </tr>
            </thead>
            <tbody id="tuesday-table-body"></tbody>
        </table>

        <table width="100%">
            <tr>
                <td align="center">
                    <!--                <button type="button" class="btn btn-secondary refresh" onclick="goBack()">Previous</button>-->
                    <button type="button" class="btn btn-success add-row-tue" data-day="Tuesday">Add new row</button>
                    <button type="button" class="btn btn-success save" data-day="Tuesday">Save</button>
                    <button type="button" id="refreshTuesday" class="btn btn-secondary refresh" data-day="Tuesday">Refresh</button>

                    <!--                    <button type="button" class="btn btn-secondary refresh" data-day="Tuesday">Refresh</button>-->
                    <a href="" th:href="@{/hod/listEligibleStudent/__${academicYear.id}__/__${program.programId}__/__${semester.semId}__/__${term.id}__}" class="btn btn-primary view">Detailed View</a>
                    <!--                <a href="/" class="btn btn-primary home">Home</a>-->
                </td>
            </tr>
        </table>
    </div>





    <div>
        <table width="100%">
            <!-- Day headings -->
            <tr>
                <th colspan="5" class="text-left">Wednesday:</th>
            </tr>
        </table>
        <table class="table table-sm table-bordered payments-table">
            <thead>
            <tr>
                <th scope="col" class="text-center">Day</th>
                <th scope="col" class="text-center">start time</th>
                <th scope="col" class="text-center">end time</th>
                <th scope="col" class="text-center">select course</th>
                <th scope="col" class="text-center">select faculty</th>

            </tr>
            </thead>
            <tbody id="wednesday-table-body"></tbody>
        </table>

        <table width="100%">
            <tr>
                <td align="center">
                    <!--                <button type="button" class="btn btn-secondary refresh" onclick="goBack()">Previous</button>-->
                    <button type="button" class="btn btn-success add-row-wed" data-day="Wednesday">Add new row</button>
                    <button type="button" class="btn btn-success save" data-day="Wednesday">Save</button>
                    <button type="button" id="refreshWednesday" class="btn btn-secondary refresh" data-day="Wednesday">Refresh</button>

                    <!--                    <button type="button" class="btn btn-secondary refresh" data-day="Tuesday">Refresh</button>-->
                    <a href="" th:href="@{/hod/listEligibleStudent/__${academicYear.id}__/__${program.programId}__/__${semester.semId}__/__${term.id}__}" class="btn btn-primary view">Detailed View</a>
                    <!--                <a href="/" class="btn btn-primary home">Home</a>-->
                </td>
            </tr>
        </table>
    </div>






    <div>
        <table width="100%">
            <!-- Day headings -->
            <tr>
                <th colspan="5" class="text-left">Thursday:</th>
            </tr>
        </table>
        <table class="table table-sm table-bordered payments-table">
            <thead>
            <tr>
                <th scope="col" class="text-center">Day</th>
                <th scope="col" class="text-center">start time</th>
                <th scope="col" class="text-center">end time</th>
                <th scope="col" class="text-center">select course</th>
                <th scope="col" class="text-center">select faculty</th>

            </tr>
            </thead>
            <tbody id="thursday-table-body"></tbody>
        </table>

        <table width="100%">
            <tr>
                <td align="center">
                    <!--                <button type="button" class="btn btn-secondary refresh" onclick="goBack()">Previous</button>-->
                    <button type="button" class="btn btn-success add-row-thu" data-day="Thursday">Add new row</button>
                    <button type="button" class="btn btn-success save" data-day="Thursday">Save</button>
                    <button type="button" id="refreshThursday" class="btn btn-secondary refresh" data-day="Thursday">Refresh</button>

                    <!--                    <button type="button" class="btn btn-secondary refresh" data-day="Tuesday">Refresh</button>-->
                    <a href="" th:href="@{/hod/listEligibleStudent/__${academicYear.id}__/__${program.programId}__/__${semester.semId}__/__${term.id}__}" class="btn btn-primary view">Detailed View</a>
                    <!--                <a href="/" class="btn btn-primary home">Home</a>-->
                </td>
            </tr>
        </table>
    </div>






    <div>
        <table width="100%">
            <!-- Day headings -->
            <tr>
                <th colspan="5" class="text-left">Friday:</th>
            </tr>
        </table>
        <table class="table table-sm table-bordered payments-table">
            <thead>
            <tr>
                <th scope="col" class="text-center">Day</th>
                <th scope="col" class="text-center">start time</th>
                <th scope="col" class="text-center">end time</th>
                <th scope="col" class="text-center">select course</th>
                <th scope="col" class="text-center">select faculty</th>

            </tr>
            </thead>
            <tbody id="friday-table-body"></tbody>
        </table>

        <table width="100%">
            <tr>
                <td align="center">
                    <!--                <button type="button" class="btn btn-secondary refresh" onclick="goBack()">Previous</button>-->
                    <button type="button" class="btn btn-success add-row-fri" data-day="Friday">Add new row</button>
                    <button type="button" class="btn btn-success save" data-day="Friday">Save</button>
                    <button type="button" id="refreshFriday" class="btn btn-secondary refresh" data-day="Friday">Refresh</button>

                    <!--                    <button type="button" class="btn btn-secondary refresh" data-day="Tuesday">Refresh</button>-->
                    <a href="" th:href="@{/hod/listEligibleStudent/__${academicYear.id}__/__${program.programId}__/__${semester.semId}__/__${term.id}__}" class="btn btn-primary view">Detailed View</a>
                    <!--                <a href="/" class="btn btn-primary home">Home</a>-->
                </td>
            </tr>
        </table>
    </div>





    <div>
        <table width="100%">
            <!-- Day headings -->
            <tr>
                <th colspan="5" class="text-left">Saturday:</th>
            </tr>
        </table>
        <table class="table table-sm table-bordered payments-table">
            <thead>
            <tr>
                <th scope="col" class="text-center">Day</th>
                <th scope="col" class="text-center">start time</th>
                <th scope="col" class="text-center">end time</th>
                <th scope="col" class="text-center">select course</th>
                <th scope="col" class="text-center">select faculty</th>

            </tr>
            </thead>
            <tbody id="saturday-table-body"></tbody>
        </table>

        <table width="100%">
            <tr>
                <td align="center">
                    <!--                <button type="button" class="btn btn-secondary refresh" onclick="goBack()">Previous</button>-->
                    <button type="button" class="btn btn-success add-row-sat" data-day="Saturday">Add new row</button>
                    <button type="button" class="btn btn-success save" data-day="Saturday">Save</button>
                    <button type="button" id="refreshSaturday" class="btn btn-secondary refresh" data-day="Saturday">Refresh</button>

                    <!--                    <button type="button" class="btn btn-secondary refresh" data-day="Tuesday">Refresh</button>-->
                    <a href="" th:href="@{/hod/listEligibleStudent/__${academicYear.id}__/__${program.programId}__/__${semester.semId}__/__${term.id}__}" class="btn btn-primary view">Detailed View</a>
                    <!--                <a href="/" class="btn btn-primary home">Home</a>-->
                </td>
            </tr>
        </table>
    </div>





    <div>
        <table width="100%">
            <!-- Day headings -->
            <tr>
                <th colspan="5" class="text-left">Sunday:</th>
            </tr>
        </table>
        <table class="table table-sm table-bordered payments-table">
            <thead>
            <tr>
                <th scope="col" class="text-center">Day</th>
                <th scope="col" class="text-center">start time</th>
                <th scope="col" class="text-center">end time</th>
                <th scope="col" class="text-center">select course</th>
                <th scope="col" class="text-center">select faculty</th>

            </tr>
            </thead>
            <tbody id="sunday-table-body"></tbody>
        </table>

        <table width="100%">
            <tr>
                <td align="center">
                    <!--                <button type="button" class="btn btn-secondary refresh" onclick="goBack()">Previous</button>-->
                    <button type="button" class="btn btn-success add-row-sun" data-day="Sunday">Add new row</button>
                    <button type="button" class="btn btn-success save" data-day="Sunday">Save</button>
                    <button type="button" id="refreshSunday" class="btn btn-secondary refresh" data-day="Sunday">Refresh</button>

                    <!--                    <button type="button" class="btn btn-secondary refresh" data-day="Tuesday">Refresh</button>-->
                    <a href="" th:href="@{/hod/listEligibleStudent/__${academicYear.id}__/__${program.programId}__/__${semester.semId}__/__${term.id}__}" class="btn btn-primary view">Detailed View</a>
                    <!--                <a href="/" class="btn btn-primary home">Home</a>-->
                </td>
            </tr>
        </table>
    </div>

</div>

<script>
    function goBack(){
            window.history.back();
        }



// Define a mapping of day names to Day objects
const dayMappings = {
    "Monday": 1,
    "Tuesday": 2,
    "Wednesday": 3,
    "Thursday": 4,
    "Friday": 5,
    "Saturday": 6,
    "Sunday": 7
};



        function addRow(tbody, timeTableEntryId, dayName, startTime, endTime, courseId, facultyId, className) {


                  var tr = $("<tr></tr>").attr("data-id", timeTableEntryId);

                  if (className) {
                    tr.addClass(className);
                  }


  // Fetch the day ID based on the day name using the predefined mapping
    var dayId = dayMappings[dayName];

    // Append the name of the day to the table row
<!--    tr.append($("<td></td>").append($('<input type="text" class="form-control">').val(dayName)));-->
    tr.append($("<td></td>").text(dayName));


  // Create input elements for startTime and endTime
    var startTimeInput = $('<input type="time" class="form-control">').val(startTime ? startTime : '');
    var endTimeInput = $('<input type="time" class="form-control">').val(endTime ? endTime : '');

    // Append input elements to <td> elements and then append them to the <tr>
    tr.append($("<td></td>").append(startTimeInput));
    tr.append($("<td></td>").append(endTimeInput));


                    //for fetching courses based on batchYearSemTermId and program
                    var programId = $("#programId").val();
                    var batchYearSemTermId = $("#batchYearSemTermId").val();

                  var courseDropdown = $('<select class="form-control">');
                  $.getJSON("/hod/courses/" + batchYearSemTermId + "/" + programId, function (courseData) {
                            courseData.forEach(function (course) {
                                courseDropdown.append($('<option>').val(course.courseId).text(course.courseName));
                             });
                             courseDropdown.val(courseId);
                  });
                  tr.append($("<td></td>").append(courseDropdown));


                   var facultyDropdown = $('<select class="form-control">');
                  $.getJSON("/hod/faculties", function (facultyData) {
                            facultyData.forEach(function (faculty) {
                                facultyDropdown.append($('<option>').val(faculty.id).text(faculty.name));
                             });
                                facultyDropdown.val(facultyId);
                  });
                  tr.append($("<td></td>").append(facultyDropdown));


                    tr.append($("<td></td>").append($('<button type="button" class="btn btn-danger delete-row">X</button>')));

                    // Append the <tr> element to the provided table body (tbody).
                    tbody.append(tr);
        }






          function tableRefresh(day) {

                     var tbody;
                        if (day === "Monday") {
                            tbody = $("#monday-table-body");
                        } else if (day === "Tuesday") {
                            tbody = $("#tuesday-table-body");
                        }else if (day === "Wednesday") {
                            tbody = $("#wednesday-table-body");
                        }else if (day === "Thursday") {
                            tbody = $("#thursday-table-body");
                        }else if (day === "Friday") {
                            tbody = $("#friday-table-body");
                        }else if (day === "Saturday") {
                            tbody = $("#saturday-table-body");
                        }else if (day === "Sunday") {
                            tbody = $("#sunday-table-body");
                        }

<!--              var tbody = $(".payments-table tbody");-->
              tbody.html("Loading...");

                var academicYearId = $("#academicYearId").val(); // Fetch value from the hidden input field in html
                var programId = $("#programId").val();
                var semId = $("#semId").val();
                var sectionId = $("#sectionId").val();
                var termId = $("#termId").val();
                var dayId = dayMappings[day];


                console.log(academicYearId);
                console.log(programId);
                console.log(semId);
                console.log(sectionId);
                console.log(termId);

                $.getJSON("/hod/timeTableEntries/" + academicYearId + "/" + programId + "/" + semId + "/" + sectionId + "/" + termId + "/" + dayId, function (data) {
                  tbody.html("");

                         data.forEach((el) => {

                            if (el.course && el.course.courseId !== undefined) {

                                    if (el.faculty && el.faculty.id !== undefined) {

                                        addRow(tbody, el.timeTableEntryId, el.day.name, el.startTime, el.endTime, el.course.courseId, el.faculty.id);

                                    }

                                     else
                                    {
                                        console.log("faculty null for ", el);
                                        console.log("ccc faculty ", el.faculty.id);
                                        console.log("faculty obj ", el.faculty);
                                    }
                              }
                            else
                            {
                                console.log("course null for ", el);
                                console.log("ccc ", el.course.courseId);
                                console.log("course obj ", el.course);
                            }


                  });
                });
        }









<!--    $("button.refresh").click(tableRefresh);-->

$("#refreshMonday").click(function() {
    tableRefresh("Monday");
});
$("#refreshTuesday").click(function() {
    tableRefresh("Tuesday");
});
$("#refreshWednesday").click(function() {
    tableRefresh("Wednesday");
});
$("#refreshThursday").click(function() {
    tableRefresh("Thursday");
});
$("#refreshFriday").click(function() {
    tableRefresh("Friday");
});
$("#refreshSaturday").click(function() {
    tableRefresh("Saturday");
});
$("#refreshSunday").click(function() {
    tableRefresh("Sunday");
});






    $("button.add-row-mon").click(function () {
        var tbody = $("#monday-table-body"); // Select the tbody for Monday
<!--            var tbody = $(".payments-table tbody"); //it displays in both monday and tuesday divisions (ofcourse day is proper)-->
             var day = $(this).data("day");

            addRow(tbody, null, day, null, null, null, null, "dirty");
    });

     $("button.add-row-tue").click(function () {
        var tbody = $("#tuesday-table-body"); // Select the tbody for Tuesday
             var day = $(this).data("day");

            addRow(tbody, null, day, null, null, null, null, "dirty");
    });

    $("button.add-row-wed").click(function () {
        var tbody = $("#wednesday-table-body"); // Select the tbody for wednesday
             var day = $(this).data("day");

            addRow(tbody, null, day, null, null, null, null, "dirty");
    });

    $("button.add-row-thu").click(function () {
        var tbody = $("#thursday-table-body"); // Select the tbody for thursday
             var day = $(this).data("day");

            addRow(tbody, null, day, null, null, null, null, "dirty");
    });

    $("button.add-row-fri").click(function () {
        var tbody = $("#friday-table-body"); // Select the tbody for friday
             var day = $(this).data("day");

            addRow(tbody, null, day, null, null, null, null, "dirty");
    });

    $("button.add-row-sat").click(function () {
        var tbody = $("#saturday-table-body"); // Select the tbody for saturday
             var day = $(this).data("day");

            addRow(tbody, null, day, null, null, null, null, "dirty");
    });

    $("button.add-row-sun").click(function () {
        var tbody = $("#sunday-table-body"); // Select the tbody for sunday
             var day = $(this).data("day");

            addRow(tbody, null, day, null, null, null, null, "dirty");
    });










    //when a save button is clicked:-
            $("button.save").click(function () {

                        var day = $(this).data("day"); // Get the day from the data-day attribute
                        var dayId = dayMappings[day];   // Fetch the day ID based on the day name using the predefined mapping
                    var arr = [];

                        // Select the tbody based on the day
                        var tbody = $("#"+ day.toLowerCase() + "-table-body");


                    $(".payments-table tbody tr").each(function () {
                        var row = $(this);
                        if (row.hasClass("dirty") || row.hasClass("deleted")) {

                              //if wishing to set hidden values of "objects" like batch,semester etc, need to initialize and keep in rowdata before setting their id values.
                              //if the hidden value is a direct value("not objects") say batchYearSemTermId field of the course table, no need initialization separatelty here
                              var rowData = { timeTableEntryId: row.attr("data-id"), academicYear: {}, program: {}, semester: {}, section:{}, term: {} , department: {} };
                              var keys = ["startTime", "endTime", "course", "faculty"];

                                row.find("input, select").each(function (idx) {
                                       if ($(this).is("select"))
                                       {
                                         //rowData.batchYearSemTermId = $("#batchYearSemTermId").val();
                                        // rowData.batch.batchId = {batchId : parseInt( $("#batchId").val())};  change this by refereing below line
                                         rowData.academicYear.id =parseInt( $("#academicYearId").val());
                                         rowData.program.programId = parseInt( $("#programId").val());
                                         rowData.semester.semId = parseInt($("#semId").val());
                                         rowData.section.sectionId = parseInt($("#sectionId").val());
                                         rowData.term.id = parseInt( $("#termId").val());
                                         rowData.department.departmentId = parseInt( $("#departmentId").val());

                                         rowData.day = { id: dayId };


                                                    if (keys[idx] === "course")
                                                    {
                                                         var courseObject = { courseId : parseInt($(this).val())};
                                                         rowData[keys[idx]] = courseObject;
                                                    }

                                                     else if(keys[idx] === "faculty")
                                                     {
                                                         var facultyObject = { id: parseInt($(this).val())}
                                                         rowData[keys[idx]] = facultyObject;
                                                     }

                                                     else if(keys[idx] === "startTime" || keys[idx] === "endTime")
                                                     {
                                                        // Format time values as HH:mm strings
                                                        var timeValue = $(this).val().substring(0, 5); // Extract only HH:mm part
                                                        rowData[keys[idx]] = timeValue;
                                                    }
                                                     else
                                                     {
                                                         rowData[keys[idx]] = $(this).val();
                                                     }

                                       }
                                       else
                                       {
                                        //rowData.batchYearSemTermId = $("#batchYearSemTermId").val();
                                         rowData.academicYear.id =parseInt( $("#academicYearId").val());
                                         rowData.program.programId = parseInt( $("#programId").val());
                                         rowData.semester.semId = parseInt($("#semId").val());
                                         rowData.section.sectionId = parseInt($("#sectionId").val());
                                         rowData.term.id = parseInt( $("#termId").val());
                                         rowData.department.departmentId = parseInt( $("#departmentId").val());

                                         rowData.day = { id: dayId };

                                                 rowData[keys[idx]] = $(this).val();
                                       }
                                });



                        console.log(rowData);

                              // Add an object to the array for this row with action and data.
                              arr.push({
                                action: row.hasClass("deleted") ? "DELETE" : "UPDATE",
                                data: rowData,
                              });
                        }
                    });

                      // Perform an AJAX POST request to send the data to the server.
                      $.ajax({
                        type: "POST",
                        url: '/hod/timeTableEntries',
                        contentType: 'application/json',
                        data: JSON.stringify(arr),
                        success: function () {
                            // Call tableRefresh as a callback function after the AJAX request is successful
                            tableRefresh(day);
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                          alert('error: ' + jqXHR.responseJSON.message);
                        }
                      });


            });








//when a delete button is clicked:-
            $(document).on("click", "button.delete-row", function () {
                  var row = $(this).closest("tr");
                  if (row.attr("data-id")) {

                          var rowData = { timeTableEntryId: row.attr("data-id") };

                            row.addClass("deleted");
                  }
                  else {
                        row.remove();
                  }
            });












    $(document).on("change", ".payments-table tbody input", function () {
      $(this).closest("tr").addClass("dirty");
    });

    $(document).on("change", ".payments-table tbody input, .payments-table tbody select", function () {
    $(this).closest("tr").addClass("dirty");
    });



//initial refresh when page is loaded.
$(document).ready(function() {
    tableRefresh("Monday");
    tableRefresh("Tuesday");
    tableRefresh("Wednesday");
    tableRefresh("Thursday");
    tableRefresh("Friday");
    tableRefresh("Saturday");
    tableRefresh("Sunday");

});

<!--    tableRefresh();          //initial refresh when page is loaded.-->
</script>
</body>
</html>
