
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8"/>
    <title>Allotment</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header"/>


<div class="container">

<div align="right">
<!--    <a href="" th:href="@{/hod/listOEGroupStudents/__${academicYear.id}__/__${program.programId}__/__${semester.semId}__/__${term.id}__/__${openElective.openElectiveId}__}" class="btn btn-danger view">View Students</a>-->

        <!--        dont give <a></a> if you want to direct the url to postmapping-->
        <!--        <a th:href="@{/hod/listStudentsOfCourseSelected(academicYearId=${academicYear.id}, programId=${program.programId}, semId=${semester.semId}, termId=${term.id}, courseId=${openElective.openElectiveId}, className=${openElective.class.simpleName})}" class="btn btn-danger view">Back</a>-->
        <!--        instead use <form></form>-->
        <form th:action="@{'/hod/listStudentsOfCourseSelected?academicYearId=' + ${academicYear.id} + '&programId=' + ${program.programId} + '&semId=' + ${semester.semId} + '&termId=' + ${term.id}}" method="post">
            <input type="hidden" name="academicYearId" th:value="${academicYear.id}" />
            <input type="hidden" name="programId" th:value="${program.programId}" />
            <input type="hidden" name="semId" th:value="${semester.semId}" />
            <input type="hidden" name="termId" th:value="${term.id}" />
            <input type="hidden" name="courseId" th:value="${openElective.openElectiveId}" />
            <input type="hidden" name="className" th:value="${openElective.class.simpleName}" />

            <button type="submit" class="btn btn-danger view">Back</button>
        </form>

</div>


    <table width="100%">
        <tr>
            <th th:text="'Academic Year: ' + ${academicYear.year}" style="font-size: 15px;">Academic Year</th>
            <th th:text="'Program: ' + ${program.programName}" style="font-size: 15px;">
            <th th:text="'Course: ' + ${openElective.courseName} + ' - (' + ${openElective.courseCode} + ')'" style="font-size: 15px;">openelective</th>

                <!--            <th th:text="'Academic Year: ' + ${firstStudent.academicYear.year}" style="font-size: 15px;">Academic Year</th>-->
        </tr>
        <tr>
            <th th:text="'Semester: ' + ${semester.sem}" style="font-size: 15px;">Semester</th>
            <th th:text="'Term: ' + ${term.termDate}" style="font-size: 15px;">term</th>
            <th th:text="'Elective offered By Dept.: ' + ${openElective.department.departmentName}" style="font-size: 15px;">



            <!--        <th th:text="'Term: ' + ${student.term.termDate}" style="font-size: 15px;">Term</th>-->
        </tr>

        <tr><td></td></tr>
    </table>
    <hr>



    <form action="#" th:action="@{/hod/updateStudentOEGroupDetails}" method="post">
        <div>
            <h2>Assign Group:</h2>

            <input type="hidden" name="academicYear" th:value="*{academicYear.id}" />
            <input type="hidden" name="program" th:value="*{program.programId}" />
            <input type="hidden" name="semester" th:value="*{semester.semId}" />
            <input type="hidden" name="term" th:value="*{term.id}" />
            <input type="hidden" name="openElective" th:value="*{openElective.openElectiveId}" />


            <table>
                <tr>
                    <td>
                        <label for="noOfGroups">Set Number of Groups:</label>
                    </td>
                    <td>
                        <input type="number" class="form-control" id="noOfGroups" name="noOfGroups" th:value="${noOfGroups}"  min="1" max="20" />
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </td>
                </tr>
            </table>



            <table class="table table-striped">
                <thead>
                <tr>
                    <!--                    <th>Select</th> &lt;!&ndash; Added for checkbox &ndash;&gt;-->
                    <th class="text-center">Sl No.</th>
                    <th class="text-center">USN</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Groups</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="student, rowStat : ${students}">
                    <!--                    <td><input type="checkbox" th:name="studentIds" th:value="${student.id}"></td> &lt;!&ndash; Checkbox for each student &ndash;&gt;-->
                    <td th:text="${rowStat.count}" class="text-center"></td>
                    <td th:text="${student.usn}" class="text-center"></td>
                    <td th:text="${student.name}" class="text-center"></td>
                    <td class="text-center">
                        <div style="display: inline;" th:each="group, secStat : ${groups}">
                            <input type="radio" th:name="${student.eligibleStudentId}" th:value="${group.groupId}"
                                   th:checked="${currentAssignments[student.eligibleStudentId] == group.groupId}"/>
                            <label th:text="${group.groupNo}"></label>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>



        <div style="text-align: center;">
            <button type="submit" class="btn btn-success view">Save</button>
        </div>
    </form>


<!--    <div style="text-align: center;">-->
<!--    <form th:action="@{'/hod/listStudentsOfCourseSelected?academicYearId=' + ${academicYear.id} + '&programId=' + ${program.programId} + '&semId=' + ${semester.semId} + '&termId=' + ${term.id}}" method="post">-->
<!--        <input type="hidden" name="academicYearId" th:value="${academicYear.id}" />-->
<!--        <input type="hidden" name="programId" th:value="${program.programId}" />-->
<!--        <input type="hidden" name="semId" th:value="${semester.semId}" />-->
<!--        <input type="hidden" name="termId" th:value="${term.id}" />-->
<!--        <input type="hidden" name="courseId" th:value="${openElective.openElectiveId}" />-->
<!--        <input type="hidden" name="className" th:value="${openElective.class.simpleName}" />-->

<!--        <button type="submit" class="btn btn-danger view">Back</button>-->
<!--    </form>-->
<!--    </div>-->


</div>
<div th:replace="fragments/footer :: footer"/>



<!--double tap radio button to uncheck it-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get all radio buttons
        var radioButtons = document.querySelectorAll('input[type="radio"]');

        // Add double-click event listener to each radio button
        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener("dblclick", function() {
                // Toggle the checked state of the radio button
                this.checked = !this.checked;
            });
        });
    });
</script>

<script>
    function selectAllStudents(source) {
        checkboxes = document.getElementsByName('studentIds');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>



</body>
</html>


