<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/><!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>Ope Elective Type</title>

        <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
              th:href="@{/css/bootstrap.min.css}"/>

        <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>





        <!-- Include jQuery library -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    </head>
    <body>
    <div th:replace="fragments/header :: header"/>

    <div class="container">

        <div class="container" th:if="${#request.isUserInRole('PRINCIPAL')}">
        <table width="100%">
            <tr>
                <th th:text="'Academic Year: ' + ${batchYearSemTerm1.academicYear.year}" style="font-size: 15px;">Academic Year</th>
                <th th:text="'Batch: ' + ${batchYearSemTerm1.batch.batchName}" style="font-size: 15px;">Batch</th>
            </tr>
            <tr>
                <th th:text="'Semester: ' + ${batchYearSemTerm1.semester.sem}" style="font-size: 15px;">Semester</th>
                 <th th:text="'Term: ' + ${batchYearSemTerm1.term.termDate}" style="font-size: 15px;">Term</th>
            </tr>
            <tr><td></td></tr>
        </table>
        </div>

        <div class="container" th:if="${#request.isUserInRole('DEPT_HEAD')}">
            <table width="100%">
                <tr>
                    <th th:text="'Academic Year: ' + ${batchYearSemTerm1.academicYear.year}" style="font-size: 15px;">Academic Year</th>
                    <th th:text="'Batch: ' + ${batchYearSemTerm1.batch.batchName}" style="font-size: 15px;">Batch</th>
                    <th th:text="'Semester: ' + ${batchYearSemTerm1.semester.sem}" style="font-size: 15px;">Semester</th>
                </tr>
                <tr>
                    <th th:text="'Department: ' + ${department.departmentName} " style="font-size: 15px;">Department</th>
                    <th th:text="'Programme: ' + ${program.programName}" style="font-size: 15px;">Program</th>
                    <th th:text="'Term: ' + ${batchYearSemTerm1.term.termDate}" style="font-size: 15px;">Term</th>
                </tr>
                <tr><td></td></tr>
            </table>
        </div>
        <hr>

        <form  th:action="@{${#request.isUserInRole('PRINCIPAL')} ? '/admin/selectOpenElectiveType' : '/hod/selectOpenElectiveType'}" th:object="${openElectiveType}" method="post">

            <table border="0" width="80%">
                <tr> <td> </td></tr>
                <tr>
                    <td>
                        <input th:type="hidden" name="batchYearSemTermId" th:field="${batchYearSemTerm1.batchYearSemTermId}"/>
                        <input type="hidden" th:value="${batchYearSemTerm1.batch.batchId}" name="batch">
                        <input type="hidden" th:value="${batchYearSemTerm1.academicYear.id}" name="academicYear">
<!--                        <input type="hidden" th:value="${batchYearDeptProgramSem1.department.departmentId}" name="department">-->
<!--                        <input type="hidden" th:value="${batchYearDeptProgramSem1.program.programId}" name="program">-->
                        <input type="hidden" th:value="${batchYearSemTerm1.semester.semId}" name="semester">
                        <input type="hidden" th:value="${batchYearSemTerm1.term.id}" name="term">


                        <div class="form-group">
                            <label>Select Course Type : </label>
                            <br>

                            <td>
                                <div class="form-group">
                                    <!--                                    <label>Select Teaching Department: </label>-->
                                    <select class="form-control" id="openElectiveType" name="openElectiveType">
                                        <option th:each="openElectiveType : ${openElectiveTypes}" th:value="${openElectiveType.id}" th:text="${openElectiveType.typeOfOpenElective}"></option>
                                    </select>
                                </div>
                            </td>


                        </div>

                    </td>

                    <td></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td>
                        <a href="/hod/editOpenElectiveType" th:href="@{/hod/editOpenElectiveType}" class="btn btn-primary" role="button">Add Open-Elective Type</a>
                    </td>

                </tr>
                <tr><td></td></tr>



            </table>


            <div align="center">
<!--                <a href="/admin/listOpenElective/${batchYearDeptProgramSem1.batchYearDeptProgramSemId}" th:href="@{/admin/listOpenElective/__${batchYearDeptProgramSem1.batchYearDeptProgramSemId}__}" class="btn btn-primary" role="button">View Open Elective Courses</a>-->
                <!--                <a th:href="@{/admin/courseEdit/__${batchYearDeptProgramSem1.batchYearDeptProgramSemId}__/__${courseType}__}">Proceed</a>-->

                <button class="btn btn-primary" >Proceed</button>
                <a href="#" th:href="@{/home}" class="btn btn-danger" role="button">Cancel</a>
            </div>

        </form>



    </div>
    </body>
    </html>
