<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>coursewise students List</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>



<!--    displaying the selected course after submit-->
    <script>
        // Function to set the selected option's text after form submission
        function setSelectedOptionText() {
             var selectElement = document.getElementById("allCourses");
            var selectedValue = sessionStorage.getItem("selectedCourse");
            if (selectedValue) {
                selectElement.value = selectedValue;
            }
        }
    </script>


</head>

<style>
    .flex-container {
        display: flex;
        align-items: center;
    }

    .form-group {
        margin-right: 10px;
    }
</style>
<body onload="setSelectedOptionText()">
<div th:replace="fragments/header :: header"/>




<div class="container" th:if="${#request.isUserInRole('DEPT_HEAD')}">

    <h3>Students List:</h3>



<!--    <form th:action="@{/hod/listStudentsOfCourseSelected}" method="post">-->
    <form th:action="@{'/hod/listStudentsOfCourseSelected?academicYearId=' + ${academicYear.id} + '&programId=' + ${program.programId} + '&semId=' + ${semester.semId} + '&termId=' + ${term.id}}" method="post">
        <input type="hidden" name="academicYearId" th:value="${academicYear.id}" />
        <input type="hidden" name="programId" th:value="${program.programId}" />
        <input type="hidden" name="semId" th:value="${semester.semId}" />
        <input type="hidden" name="termId" th:value="${term.id}" />
<!--        <input type="hidden" name="courseId" id="courseId" />-->
<!--        <input type="hidden" name="courseType" id="courseType" />-->

        <div style="display: inline-block; margin-right: 10px;">
            <div class="form-group">
                <label for="allCourses">Select Course:</label>
                <select id="allCourses" name="courseId" class="form-control">
                    <!-- Populate options dynamically based on available sections -->
<!--                    <option th:each="course : ${allCourses}" th:value="${course.courseId}" th:text="${course.courseCode} + ' - ' + ${course.courseName}"></option>-->
<!--                    th:data-type="${course.class.simpleName}"-->


                    <option value="">Select</option> <!-- Add the default "Select" option -->

                    <option th:each="course : ${allRegisteredCoursesList}" th:name="course" th:value="${course.courseId}"
                            th:text="${course.courseCode} + ' - ' + ${course.courseName}"
                            th:if="${course.class.simpleName == 'Course'}"
                            data-class="Course"
                            ></option>

                    <option th:each="oe : ${allRegisteredCoursesList}" th:name="oe" th:value="${oe.openElectiveId}"
                            th:text="${oe.courseCode} + ' - ' + ${oe.courseName}"
                            th:if="${oe.class.simpleName == 'OpenElective'}"
                            data-class="OpenElective"
                            ></option>

                </select>
                <!-- Add hidden input field to specify the class type to avoid ambiguity between Course and OpenElective -->
<!--                <input type="hidden" name="courseType" th:value="${course.class.simpleName}" />-->
<!--                <input type="hidden" name="courseType" th:value="${#object.getClass().getSimpleName()}" />-->
                <input type="hidden" id="className" name="className" />

<!--                <input type="hidden" id="selectedOptionText" name="selectedOptionText" />-->
                <button type="submit" class="btn btn-primary">Show Students</button>
            </div>
        </div>

    </form>


    <div>

        <p align="right">
            <!--        <a href="javascript:void(0);" onclick="goBack()">Go Back</a>-->
            <a th:if="${#request.isUserInRole('DEPT_HEAD')}" href="" th:href="@{/hod/listStudentsForCoursesAllotment/__${academicYear.id}__/__${program.programId}__/__${semester.semId}__/__${term.id}__}" class="btn btn-danger view">Back</a>
        </p>

        <table  class="table table-bordered">
            <thead>

            <tr>
                <th colspan="6" th:text="'New Horizon College of Engineering'" style=" font-size: 35px;"
                    class="text-center">College
                </th>
            </tr>

            <tr>
                <th colspan="3" th:text="'Academic Year: ' + ${academicYear.year}" style="font-size: 20px;"  class="text-center">Academic Year</th>
                <th colspan="3" th:text="'Program: ' + ${program.programName}" style="font-size: 20px;"  class="text-center">Program</th>
            </tr>
            <tr>
                <th colspan="3" th:text="'Semester: ' + ${semester.sem}" style="font-size: 20px;" class="text-center">Semester</th>
                <th colspan="3" th:text="'Term: ' + ${term.termDate}" style="font-size: 20px;" class="text-center">Term</th>
            </tr>
            </thead>



            <tbody>
            <tr style="text-align:center">
                <th rowspan="1" class="text-center">Sl no.</th>
                <th rowspan="1" class="text-center">Section</th>
                <th rowspan="1" class="text-center">USN</th>
                <th rowspan="1" class="text-center">Name</th>
                <th rowspan="1" class="text-center">Course</th>
                <th rowspan="1" class="text-center">Group</th>

                <!--            <th rowspan="1" class="text-center">Actions</th>-->
            </tr>

            <tr th:each="registration, rowStat : ${foundRegistrations}">
                <td th:text="${rowStat.count}" class="text-center">1</td>
                <td th:text="${registration.eligibleStudent.section.sec}" class="text-center">Test</td>
                <td th:text="${registration.eligibleStudent.usn}" class="text-center">Test</td>
                <td th:text="${registration.eligibleStudent.name}" class="text-center">Test</td>
                <td th:if="${postSelectedCourse}" th:text="${postSelectedCourse.courseCode} + ' - ' + ${postSelectedCourse.courseName}" class="text-center">Test</td>
                <td th:if="${postSelectedOpenElective}" th:text="${postSelectedOpenElective.courseCode} + ' - ' + ${postSelectedOpenElective.courseName}" class="text-center">Test</td>
                <td th:if="${registration.groupOfOpenElective?.groupNo != null}" th:text="${registration.groupOfOpenElective.groupNo}" class="text-center"></td>
                <td th:unless="${registration.groupOfOpenElective?.groupNo != null}"></td>
            </tr>

<!--            <tr th:each="eachStudent, rowStat : ${foundEligibleStudents}">-->
<!--                <td th:text="${rowStat.count}" class="text-center">1</td>-->
<!--                <td th:text="${eachStudent.section.sec}" class="text-center">Test</td>-->
<!--                <td th:text="${eachStudent.usn}" class="text-center">Test</td>-->
<!--                <td th:text="${eachStudent.name}" class="text-center">Test</td>-->
<!--                <td th:if="${postSelectedCourse}" th:text="${postSelectedCourse.courseCode} + ' - ' + ${postSelectedCourse.courseName}" class="text-center">Test</td>-->
<!--                <td th:if="${postSelectedOpenElective}" th:text="${postSelectedOpenElective.courseCode} + ' - ' + ${postSelectedOpenElective.courseName}" class="text-center">Test</td>-->
<!--                <td th:if="${eachStudent.groupOfOpenElective?.groupNo != null}" th:text="${eachStudent.groupOfOpenElective.groupNo}" class="text-center"></td>-->
<!--                <td th:unless="${eachStudent.groupOfOpenElective?.groupNo != null}"></td>-->
<!--            </tr>-->

            </tbody>
        </table>

    </div>

<!--    <div align="center">-->
    <div th:if="${postSelectedOpenElective}" align="center" >

<!--        <a th:if="${postSelectedCourse}" th:href="@{/hod/updateStudentOEGroupDetails/__${academicYear.id}__/__${program.programId}__/__${semester.semId}__/__${term.id}__/__${postSelectedCourse.courseId}__}" class="btn btn-primary view">Edit Groups</a>-->

        <a th:if="${openElectiveDept != null and loggedInDept != null and openElectiveDept == loggedInDept}" th:href="@{/hod/updateStudentOEGroupDetails/__${academicYear.id}__/__${program.programId}__/__${semester.semId}__/__${term.id}__/__${postSelectedOpenElective.openElectiveId}__}" class="btn btn-success view">Edit Groups</a>

<!--  working but use when you need      <a href="/hod/selectPrerequisiteForPEAllotment/" th:href="@{/hod/selectPrerequisiteForPEAllotment/}" class="btn btn-primary view">Home</a>-->

        <!-- Iterate to generate links for each group -->
        <span th:if="${noOfGroups != null and noOfGroups > 0}">
        <span th:each="groupNumber : ${#numbers.sequence(1, noOfGroups)}">
                    <a th:href="@{/hod/listOEGroupStudents/__${academicYear.id}__/__${program.programId}__/__${semester.semId}__/__${term.id}__/__${postSelectedOpenElective.openElectiveId}__/__${groupNumber}__}" class="btn btn-primary view"> <span th:text="${postSelectedOpenElective.courseName} + '- Group ' + ${groupNumber}"></span></a>

<!--            <a th:href="@{'/hod/listOEGroupStudents/' + ${academicYearId}/{programId}/{semId}/{termId}/{openElectiveId}/{groupId}'+${groupNumber}}" th:text="'Group ' + ${groupNumber}" class="btn btn-primary view">Group <span th:text="${groupNumber}"></span></a>-->
        </span>
    </span>
    </div>


</div>


<div th:replace="fragments/footer :: footer"/>

<script th:inline="javascript">

    //className assignment (Course and OpenElective)

    var allCourses = document.getElementById('allCourses');
    allCourses.addEventListener('change', function() {
       var selectedOption = this.options[this.selectedIndex];
        var courseId = selectedOption.value;
        var classNameValue = selectedOption.getAttribute('data-class');
        console.log(className);

          // Set the value of the hidden input field 'className' based on the selected option's 'data-class' attribute
        document.getElementById('className').value = classNameValue;
<!--        var url = '/hod/listStudentsOfCourseSelected?courseId=' + courseId + '&className=' + className;-->
<!--        window.location.href = url;-->
    });
</script>
</body>
</html>

