<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Time Slot</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
    <form action="/hod/editTimeSlot" th:action="@{/hod/editTimeSlot}" method="post">

        <table width="100%">
            <tr>
                <td align="left">
                    <a href="/hod/listTimeSlots" th:href="@{/hod/listTimeSlots}" class="btn btn-primary" role="button">View Timeslots</a>
                </td>

                <td align="right">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
                </td>
            </tr>
        </table>

        <table border="0" width="80%">
            <tr>
                <td><input th:type="hidden" name="id" th:field="${timeSlotSelection.id}"/>
                    <div class="form-group">
                        <label> Program: </label>
                        <select class="form-control" id="program" name="program.programId">
                            <option th:each="program : ${programs}" th:value="${program.programId}" th:text="${program.programName}"></option>
                        </select>
                    </div>
                </td>
                <td> &nbsp;</td>
                <td>
                    <div class="form-group">
                        <label> Department: </label>
                        <select class="form-control" id="department" name="department.departmentId">
                            <option th:each="department : ${departments}" th:value="${department.departmentId}" th:text="${department.departmentName}"></option>
                        </select>
                    </div>

                </td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="startTime">Start Time</label>
                        <input type="text" class="form-control" id="startTime" name="startTime" th:field="${timeSlotSelection.startTime}"
                               placeholder="Ex:- 01:00"/>
                    </div>
                </td>
                <td> &nbsp;</td>
                <td>
                <div class="form-group">
                    <label for="endTime">End Time</label>
                    <input type="text" class="form-control" id="endTime" name="endTime" th:field="${timeSlotSelection.endTime}"
                           placeholder="Ex:- 02:00"/>
                </div>
                </td>
            </tr>

        </table>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>